<!--begin::Footer-->
<div class="app-sidebar-footer d-flex align-items-center px-8 pb-10" id="kt_app_sidebar_footer">
    <!--begin::User-->
    <div class="">
        <!--begin::User info-->
        <div
            class="d-flex align-items-center"
            data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
            data-kt-menu-overflow="true"
            data-kt-menu-placement="top-start"
        >
            <div class="symbol symbol-40px symbol-circle ms-3">

                    {% if request.user.userdata.profile_image %}
                        <img src="{{ request.user.userdata.profile_image.url }}" class="symbol-label">
                    {% else %}
                        <span class="symbol-label bg-primary text-inverse-primary fw-bold">
                            {{ request.user.get_initials }}
                        </span>
                    {% endif %}
            </div>
            <!--begin::Name-->
            <div class="d-flex flex-column align-items-start justify-content-center ms-3">
                <span class="text-gray-500  fs-8 fw-semibold">Здравейте</span>
                <a  class="text-gray-800 fs-7 fw-bold text-hover-primary">{{ request.user.userdata.full_name }}</a>
            </div>
            <!--end::Name-->
        </div>
        <!--end::User info-->
{% include 'console_html/layout/partials/_user-account-menu.html' %}
    </div>
    <!--end::User-->
</div>
<!--end::Footer-->