{% load static %}
<div class="app-sidebar-logo flex-shrink-0 d-none d-md-flex flex-center align-items-center" id="kt_app_sidebar_logo">
    <!--begin::Logo-->
    <a href="?page=index">
        <img alt="Logo" src="{% static 'media/logos/logo-bo.png' %}" class="h-35px d-none d-sm-inline app-sidebar-logo-default theme-light-show"/>
        <img alt="Logo" src="{% static 'media/logos/demo55-dark.svg' %}" class="h-25px theme-dark-show"/>
    </a>
    <!--end::Logo-->
    <!--begin::Aside toggle-->
    <div class="d-flex align-items-center d-lg-none ms-n3 me-1" title="Show aside menu">
        <div class="btn btn-icon btn-active-color-primary w-30px h-30px" id="kt_aside_mobile_toggle">
            <i class="ki-outline ki-abstract-14 fs-1"></i>        </div>
    </div>
    <!--end::Aside toggle-->
</div>