<!--begin::Sidebar-->
<div id="kt_app_sidebar" class="app-sidebar  flex-column mt-lg-4 ps-2 pe-2 ps-lg-7 pe-lg-4 "
     data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="250px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
{% include 'console_html/layout/partials/sidebar/_header.html' %}
{% include 'console_html/layout/partials/sidebar/_menu.html' %}
{% include 'console_html/layout/partials/sidebar/_footer.html' %}<br>
    </div>
<!--end::Sidebar-->