{% extends 'home/base-home.html' %}
{% load static %}

{% block home_content %}

<body id="kt_app_body" data-kt-app-header-fixed-mobile="true" data-kt-app-toolbar-enabled="true" class="app-default">
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
		<!--end::Theme mode setup on page load-->
		<!--begin::App-->
		<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
			<!--begin::Page-->
			<div class="app-page flex-column flex-column-fluid" id="kt_app_page">
				<!--begin::Header-->

				<!--end::Header-->
				<!--begin::Wrapper-->
				<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
					<!--begin::Toolbar-->
					<div id="kt_app_toolbar" class="app-toolbar py-6">
						<!--begin::Toolbar container-->
						<div id="kt_app_toolbar_container" class="app-container container-xxl d-flex align-items-start">
							<!--begin::Toolbar container-->

							<!--end::Toolbar container=-->
						</div>
						<!--end::Toolbar container-->
					</div>
					<!--end::Toolbar-->
					<!--begin::Wrapper container-->
					<div class="app-container container-xxl">
						<!--begin::Main-->
						<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
							<!--begin::Content wrapper-->
							<div class="d-flex flex-column flex-column-fluid">
								<!--begin::Content-->
								<div id="kt_app_content" class="app-content flex-column-fluid">
									<!--begin::Navbar-->
									<div class="card mb-5 mb-xl-10">
										<div class="card-body pt-9 pb-0">
											<!--begin::Details-->
											<div class="d-flex flex-wrap flex-sm-nowrap">
												<!--begin: Pic-->
												<div class="me-7 mb-4">
													<div class="symbol symbol-100px symbol-lg-160px symbol-fixed position-relative">
														{% if request.user.userdata.profile_image %}
                                                <img src="{{ request.user.userdata.profile_image.url }}" class="symbol-label">
                                            {% else %}
                                                <span class="symbol-label bg-primary text-inverse-primary fs-1 fw-bold">
                                                    {{ request.user.get_initials }}
                                                </span>
                                            {% endif %}
														<div class="position-absolute translate-middle bottom-0 start-100 mb-6 bg-success rounded-circle border border-4 border-body h-20px w-20px"></div>
													</div>
												</div>
												<!--end::Pic-->
												<!--begin::Info-->
												<div class="flex-grow-1">
													<!--begin::Title-->
													<div class="d-flex justify-content-between align-items-start flex-wrap mb-2">
														<!--begin::User-->
														<div class="d-flex flex-column">
															<!--begin::Name-->
															<div class="d-flex align-items-center mb-2">
																<a  class="text-primary text-hover-primary fs-2 fw-bold me-1">{{ request.user.userdata.full_name }}</a>
																<a>
																	<i class="ki-outline ki-verify fs-1 text-primary"></i>
																</a>
															</div>
															<!--end::Name-->
															<!--begin::Info-->
															<div class="d-flex flex-wrap fw-semibold fs-6 mb-4 pe-2">
																<a  class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
																<i class="ki-outline ki-profile-circle fs-4 me-1"></i>

                                                                {% for group in request.user.groups.all %}
                                                                    <span class="badge badge-light-primary fw-bold fs-9 px-2 py-1 ms-2">{{ group.name }}</span>
                                                                {% empty %}
                                                                    <span class="badge badge-light-success fw-bold fs-8 px-2 py-1 ms-2">Няма групи</span>
                                                                {% endfor %}
                                                                </a>
																<a class="d-flex align-items-center text-gray-400 text-hover-primary me-5 mb-2">
																<i class="ki-outline ki-geolocation fs-4 me-1"></i>{{ request.user.userdata.office }}</a>
																<a class="d-flex align-items-center text-gray-400 text-hover-primary mb-2">
																<i class="ki-outline ki-sms fs-4" id="email-user"></i> {{ request.user.email }}</a>
															</div>
															<!--end::Info-->
														</div>
														<!--end::User-->
														
													</div>
													<!--end::Title-->
													<!--begin::Stats-->
													<div class="d-flex flex-wrap flex-stack">
														<!--begin::Wrapper-->
														<div class="d-flex flex-column flex-grow-1 pe-8">
															<!--begin::Stats-->
															<div class="d-flex flex-wrap">
																<!--begin::Stat-->
																<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
																	<!--begin::Number-->
																	<div class="d-flex align-items-center">
																		<i class="ki-outline ki-arrow-up fs-3 text-success me-2"></i>
																		<div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="4500" data-kt-countup-prefix="$">0</div>
																	</div>
																	<!--end::Number-->
																	<!--begin::Label-->
																	<div class="fw-semibold fs-6 text-gray-400">Earnings</div>
																	<!--end::Label-->
																</div>
																<!--end::Stat-->
																<!--begin::Stat-->
																<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
																	<!--begin::Number-->
																	<div class="d-flex align-items-center">
																		<i class="ki-outline ki-arrow-down fs-3 text-danger me-2"></i>
																		<div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="80">0</div>
																	</div>
																	<!--end::Number-->
																	<!--begin::Label-->
																	<div class="fw-semibold fs-6 text-gray-400">Projects</div>
																	<!--end::Label-->
																</div>
																<!--end::Stat-->
																<!--begin::Stat-->
																<div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-6 mb-3">
																	<!--begin::Number-->
																	<div class="d-flex align-items-center">
																		<i class="ki-outline ki-arrow-up fs-3 text-success me-2"></i>
																		<div class="fs-2 fw-bold" data-kt-countup="true" data-kt-countup-value="60" data-kt-countup-prefix="%">0</div>
																	</div>
																	<!--end::Number-->
																	<!--begin::Label-->
																	<div class="fw-semibold fs-6 text-gray-400">Success Rate</div>
																	<!--end::Label-->
																</div>
																<!--end::Stat-->
															</div>
															<!--end::Stats-->
														</div>
														

														<!--end::Progress-->
													</div>
													<!--end::Stats-->
												</div>
												<!--end::Info-->
											</div>
											<!--end::Details-->
											<!--begin::Navs-->
											<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
												<!--begin::Nav item-->
												<li class="nav-item mt-2">
													<a class="nav-link text-active-primary ms-0 me-10 py-5 " href="{% url 'user-account' %}">Профил</a>
												</li>
												<!--end::Nav item-->
												<!--begin::Nav item-->
												<li class="nav-item mt-2">
													<a class="nav-link text-active-primary ms-0 me-10 py-5 active" href="{% url 'user-account-settings' %}">Настройки</a>
												</li>
												<!--end::Nav item-->

											</ul>
											<!--begin::Navs-->
										</div>
									</div>
									<!--end::Navbar-->
									<!--begin::Basic info-->
									<div class="card mb-5 mb-xl-10">
										<!--begin::Card header-->
										<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
											<!--begin::Card title-->
											<div class="card-title m-0">
												<h3 class="fw-bold m-0">Профил</h3>
											</div>
											<!--end::Card title-->
										</div>
										<!--begin::Card header-->
										<!--begin::Content-->
										<div id="kt_account_settings_profile_details" class="collapse show">
											<!--begin::Form-->
											<form id="kt_account_profile_details_form" class="form" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="card-body border-top p-9">
                                                        <div class="row mb-6">
                                                            <label class="col-lg-4 col-form-label fw-semibold fs-6">Снимка</label>
                                                            <div class="col-lg-4">
                                                                {{ form.profile_image }}
                                                            </div>
                                                        </div>
                                                        <div class="row mb-6">
                                                            <label class="col-lg-4 col-form-label required fw-semibold fs-6">Име</label>
                                                            <div class="col-lg-8">
                                                                <div class="row">
                                                                    <div class="col-lg-6 fv-row">
                                                                        {{ form.full_name }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row mb-6">
                                                            <label class="col-lg-4 col-form-label required fw-semibold fs-6">Телефон</label>
                                                            <div class="col-lg-4 fv-row">
                                                                {{ form.phone }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% if form.non_field_errors %}
                                                    <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-2 p-6">
                                                        <!--begin::Icon-->
                                                        <i class="ki-outline ki-information fs-2tx text-warning me-4"></i>
                                                        <!--end::Icon-->

                                                        <!--begin::Wrapper-->
                                                        <div class="d-flex flex-stack flex-grow-1">
                                                            <!--begin::Content-->
                                                            <div class="fw-semibold">
                                                                <h4 class="text-gray-900 fw-bold">Внимание!</h4>
                                                                <div class="fs-6 text-gray-700">
                                                                    {% for error in form.non_field_errors %}
                                                                        {{ error }}
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                            <!--end::Content-->
                                                        </div>
                                                        <!--end::Wrapper-->
                                                    </div>
                                                    {% endif %}
                                                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                                                        <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Запази
                                                        <span class="indicator-progress">
                                                            Авторизация...
                                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                        </span>
                                                        </button>
                                                    </div>
                                        </form>

											<!--end::Form-->
										</div>
										<!--end::Content-->
									</div>
									<!--end::Basic info-->
									<!--begin::Sign-in Method-->
									<div class="card mb-5 mb-xl-10">
										<!--begin::Card header-->
										<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_signin_method">
											<div class="card-title m-0">
												<h3 class="fw-bold m-0">Данни за вход</h3>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Content-->
										<div id="kt_account_settings_signin_method" class="collapse show">
											<!--begin::Card body-->
											<div class="card-body border-top p-9">
												<!--begin::Email Address-->
												<div class="d-flex flex-wrap align-items-center">
													<!--begin::Label-->
													<div id="kt_signin_email">
														<div class="fs-6 fw-bold mb-1">Имейл</div>
														<div class="fw-semibold text-gray-600">{{ request.user.email }}</div>
													</div>
													<!--end::Label-->
													<!--begin::Edit-->
													<div id="kt_signin_email_edit" class="flex-row-fluid d-none">
														<!--begin::Form-->
														<form id="kt_signin_change_email" class="form" novalidate="novalidate">
                                                             {% csrf_token %}
															<div class="row mb-6">
																<div class="col-lg-6 mb-4 mb-lg-0">
																	<div class="fv-row mb-0">
																		<label for="email" class="form-label fs-6 fw-bold mb-3">Въведете нов Имейл Адрес</label>
																		<input type="email" class="form-control form-control-lg form-control-solid" id="emailaddress" placeholder="Email Address" name="email" autocomplete="new-email" value={{ request.user.email }} />
																	</div>
																</div>
																<div class="col-lg-6">
																	<div class="fv-row mb-0">
																		<label for="confirmemailpassword" class="form-label fs-6 fw-bold mb-3">Потвърдете паролата си</label>
																		<input type="password" class="form-control form-control-lg form-control-solid" name="confirmemailpassword" id="confirmemailpassword" autocomplete="new-password" />
																	</div>
																</div>
															</div>
															<div class="d-flex">
																<button id="kt_signin_submit" type="button" class="btn btn-primary me-2 px-6">Запази
                                                                <span class="indicator-progress">
                                                                    Авторизация...
                                                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                                </span>
                                                                </button>
																<button id="kt_signin_cancel" type="button" class="btn btn-color-gray-400 btn-active-light-primary px-6">Отказ</button>
															</div>
                                                            
														</form>
														<!--end::Form-->
													</div>
													<!--end::Edit-->
													<!--begin::Action-->
													<div id="kt_signin_email_button" class="ms-auto">
														<button class="btn btn-light btn-active-light-primary">Промени Имейл</button>
													</div>
													<!--end::Action-->
												</div>
												<!--end::Email Address-->
												<!--begin::Separator-->
												<div class="separator separator-dashed my-6"></div>
												<!--end::Separator-->
												<!--begin::Password-->
												<div class="d-flex flex-wrap align-items-center mb-10">
													<!--begin::Label-->
													<div id="kt_signin_password">
														<div class="fs-6 fw-bold mb-1">Парола</div>
														<div class="fw-semibold text-gray-600">************</div>
													</div>
													<!--end::Label-->
													<!--begin::Edit-->
													<div id="kt_signin_password_edit" class="flex-row-fluid d-none">
														<!--begin::Form-->
														<form id="kt_signin_change_password" class="form" novalidate="novalidate">
															<div class="row mb-1">
																<div class="col-lg-4">
																	<div class="fv-row mb-0">
																		<label for="currentpassword" class="form-label fs-6 fw-bold mb-3">Текуща парола</label>
																		<input type="password" class="form-control form-control-lg form-control-solid" name="old_password" id="currentpassword" autocomplete="currentpassword" />
																	</div>
																</div>
																<div class="col-lg-4">
																	<div class="fv-row mb-0">
																		<label for="newpassword" class="form-label fs-6 fw-bold mb-3">Нова парола</label>
																		<input type="password" class="form-control form-control-lg form-control-solid" name="new_password1" id="newpassword" autocomplete="newpassword" />
																	</div>
																</div>
																<div class="col-lg-4">
																	<div class="fv-row mb-0">
																		<label for="confirmpassword" class="form-label fs-6 fw-bold mb-3">Потвърди новата паролата</label>
																		<input type="password" class="form-control form-control-lg form-control-solid" name="new_password2" id="confirmpassword" autocomplete="confirmpassword" />
																	</div>
																</div>
															</div>
															<div class="d-flex">
																<button id="kt_password_submit" type="button" class="btn btn-primary me-2 px-6" >Запази
                                                                    <span class="indicator-progress">
                                                                    Авторизация...
                                                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                                </span>
                                                                </button>
																<button id="kt_password_cancel" type="button" class="btn btn-color-gray-400 btn-active-light-primary px-6">Отказ</button>
                                                               
															</div>
														</form>
														<!--end::Form-->
													    </div>
													<!--end::Edit-->
													<!--begin::Action-->
													<div id="kt_signin_password_button" class="ms-auto">
														<button class="btn btn-light btn-active-light-primary">Промени парола</button>
													</div>
													<!--end::Action-->
												</div>
												<!--end::Password-->
												<!--begin::Notice-->

												<!--end::Notice-->
											</div>
											<!--end::Card body-->
										</div>
										<!--end::Content-->
									</div>
									<!--end::Sign-in Method-->
									<!--begin::Deactivate Account-->
									<div class="card">
										<!--begin::Card header-->
										<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_deactivate" aria-expanded="true" aria-controls="kt_account_deactivate">
											<div class="card-title m-0">
												<h3 class="fw-bold m-0">Деактивирай акаунта си.</h3>
											</div>
										</div>
										<!--end::Card header-->
										<!--begin::Content-->
										<div id="kt_account_settings_deactivate" class="collapse show">
											<!--begin::Form-->
											<form id="kt_account_deactivate_form" class="form">
												<!--begin::Card body-->
												<div class="card-body border-top p-9">
													<!--begin::Notice-->
													<div class="notice d-flex bg-light-warning rounded border-warning border border-dashed mb-9 p-6">
														<!--begin::Icon-->
														<i class="ki-outline ki-information fs-2tx text-warning me-4"></i>
														<!--end::Icon-->
														<!--begin::Wrapper-->
														<div class="d-flex flex-stack flex-grow-1">
															<!--begin::Content-->
															<div class="fw-semibold">
																<h4 class="text-gray-900 fw-bold">С това действие вие ще Деактивирате акаунта си</h4>
																<div class="fs-6 text-gray-700">За допълнителна сигурност това изисква да въведете <span class="text-primary fw-bold">вашата парола</span>, когато нулирате  регистрацията си.
																<br />

															</div>
															<!--end::Content-->
														</div>
														<!--end::Wrapper-->
													</div>
													<!--end::Notice-->
													<!--begin::Form input row-->

													<!--end::Form input row-->
												</div>
												<!--end::Card body-->
												<!--begin::Card footer-->
												<div class="card-footer d-flex justify-content-end py-6 px-9">
													<button id="kt_account_deactivate_account_submit" type="submit" class="btn btn-danger fw-semibold">Деактивиране на акаунт</button>
												</div>
												<!--end::Card footer-->
                                                     </div>
											</form>

											<!--end::Form-->
										</div>
										<!--end::Content-->
									</div>
									<!--end::Deactivate Account-->
								</div>
								<!--end::Content-->
							</div>
							<!--end::Content wrapper-->
							<!--begin::Footer-->
							<div id="kt_app_footer" class="app-footer d-flex flex-column flex-md-row align-items-center flex-center flex-md-stack py-2 py-lg-4">
								<!--begin::Copyright-->
								<div class="text-dark order-2 order-md-1">
									<span class="text-muted fw-semibold me-1">2023&copy;</span>
									<a class="text-gray-800 text-hover-primary">Dobbox WEB</a>
								</div>
								<!--end::Copyright-->
								<!--begin::Menu-->

								<!--end::Menu-->
							</div>
							<!--end::Footer-->
						</div>
						<!--end:::Main-->
					</div>
					<!--end::Wrapper container-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::App-->


        <!--begin::Javascript-->
    <script src="{% static 'js/plugins/global/plugins.bundle.js' %}"></script>
    <script src="{% static 'js/scripts.bundle.js' %}"></script>
    <!--end::Global Javascript Bundle-->
		<!--end::Vendors Javascript-->
		<!--begin::Custom Javascript(used for this page only)-->
		<script src="{% static 'js/landing/account_settings/signin-methods.js' %}"></script>
		<script src="{% static 'js/landing/account_settings/overview.js' %}" ></script>
        <script src="{% static 'js/landing/account_settings/deactivate-account.js' %}"></script>
		<!--end::Custom Javascript-->
		<!--end::Javascript-->
	</body>

{% endblock %}