<div class="card card-flush h-md-100">
												<!--begin::Header-->
												<div class="card-header flex-nowrap pt-5">
													<!--begin::Title-->
													<h3 class="card-title align-items-start flex-column">
														<span class="card-label fw-bold text-dark">Разходи по ASM</span>
														<span class="text-gray-400 pt-2 fw-semibold fs-6">на база пуснати заявки и суми</span>
													</h3>
													<!--end::Title-->
													<!--begin::Toolbar-->

													<!--end::Toolbar-->
												</div>
												<!--end::Header-->
												<!--begin::Body-->
												<div class="card-body pt-5 ps-10">
													<div id="kt_charts_widget_5" class="min-h-auto"></div>
												</div>
												<!--end::Body-->
											</div>