<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Активирайте Вашия Акаунт</title>
</head>
<body>
    <div>
        <h1>Добре дошли в DobBox!</h1>
        <p>Благодарим ви, че се регистрирахте в DobBox. Моля, използвайте следния линк за да активирате вашия акаунт:</p>
        <a href="{{ confirm_url }}" > {{ confirm_url }}>Активирайте Вашия Акаунт</a>
        <p>Ако не сте поискали тази регистрация, моля игнорирайте това съобщение.</p>
    </div>
</body>
</html>

