{% load static %}
<!DOCTYPE html>

<html lang="bg">
	<!--begin::Head-->
	<head>
		<base href="../../../"/>
		<title>Dobbox Fly - #1 Софтуер за управление на бизнес процеси.</title>
		<meta charset="utf-8"/>
		<meta name="description" content="Мощна система за управление на бизнес процеси."/>
		<meta name="keywords" content="Търговски софтуер, Целеполагане , Фактуриране, CRM Система , ERP Система"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta property="og:locale" content="bg_BG"/>
		<meta property="og:type" content="article"/>
		<meta property="og:title" content="Dobbox Fly - #1 Софтуер за управление на бизнес процеси."/>
		<meta property="og:url" content="https://dobbox.net"/>
		<meta property="og:site_name" content="Dobbox | WEB"/>
		<link rel="canonical" href="https://dobbox.net"/>
		<link rel="shortcut icon" href="{% static 'media/logos/favicon.svg' %}"/>
	
		<!--begin::Fonts(mandatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>
		<!--end::Fonts-->
		<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
		<link href="{% static 'js/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
	
		<!--end::Global Stylesheets Bundle-->
		<script>// Frame-busting to prevent site from being loaded within a frame without permission (click-jacking) if (window.top != window.self) { window.top.location.replace(window.self.location.href); }</script>
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="app-blank">
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
		<!--end::Theme mode setup on page load-->
    
     {% block auth_content %}
         
    {% endblock %}


<!--begin::Footer-->
					<div class="w-lg-500px d-flex flex-stack px-10 mx-auto">
						<!--begin::Languages-->
						<div class="me-10">
							<!--begin::Toggle-->

						</div>
						<!--end::Languages-->
						<!--begin::Links-->
						<div class="d-flex fw-semibold text-primary fs-base gap-5">
                    <a href="#">Условия</a>
                    <a href="#pricing">Планове</a>
                    <a h href="#" >Контакти</a>
						</div>
						<!--end::Links-->
					</div>
					<!--end::Footer-->
				</div>
				<!--end::Body-->
				<!--begin::Aside-->
				<div class="d-flex flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2"
             style="background-image: url({% static 'media/misc/auth-bg.png' %})">

            <!--begin::Content-->
            <div class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100">
                <!--begin::Logo-->
                <a href="#" class="mb-0 mb-lg-12">
                    <img alt="Logo" src="{% static 'media/logos/logo-bo.png' %}" class="h-40px h-lg-45px"/>

                </a>
                <!--end::Logo-->
                <!--begin::Image-->
                <img class="d-none d-lg-block mx-auto w-275px w-md-50 w-xl-500px mb-10 mb-lg-20 rounded"
                     src="{% static 'media/misc/login.png' %}" alt=""/>


                <!--end::Image-->
                <!--begin::Title-->
                <h1 class="d-none d-lg-block text-white fs-2qx fw-bolder text-center mb-7">Бърз, Ефикасен и
                    Продуктивен</h1>
                <!--end::Title-->
                <!--begin::Text-->
                <div class="d-none d-lg-block text-white fs-base text-center">Dobbox WEB,
                    <a href="#" class="opacity-75-hover text-warning fw-bold me-1">система</a>за управление
                    <br/>на бизнес процеси.
                    <a href="#" class="opacity-75-hover text-warning fw-bold me-1">Мощ</a>захранвана
                    <br/>от Python ядро.
                </div>
                <!--end::Text-->
            </div>
            <!--end::Content-->
        </div>
				<!--end::Aside-->
			</div>
			<!--end::Authentication - Sign-in-->
		</div>
		<!--end::Root-->
<!--begin::Javascript-->
<script>var hostUrl = "assets/";</script>
<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="{% static 'js/plugins/global/plugins.bundle.js' %}"></script>
<script src="{% static 'js/scripts.bundle.js' %}"></script>
<!--end::Global Javascript Bundle-->


<!--end::Custom Javascript-->
<!--end::Javascript-->
</body>
<!--end::Body-->
</html>
				