{% extends 'auth/base_auth.html' %}
{% load static %}


{% block auth_content %}
   
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root" id="kt_app_root">
			<!--begin::Authentication - Sign-in -->
			<div class="d-flex flex-column flex-lg-row flex-column-fluid">
				<!--begin::Body-->
				<div class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1">
					<!--begin::Form-->
					<div class="d-flex flex-center flex-column flex-lg-row-fluid">
						<!--begin::Wrapper-->
						<div class="w-lg-500px p-10">
							<!--begin::Form-->
							<form method="post" class="form w-100" novalidate="novalidate" id="kt_new_password_form" >
                            {% csrf_token %}
                                
                                <div class="text-center mb-10">
                                    <h1 class="text-dark fw-bolder mb-3">Настройте нова парола</h1>
                                    <div class="text-gray-500 fw-semibold fs-6">Вече сте нулирали паролата си??
                                        <a href="{% url 'login' %}">Влез</a>
                                    </div>
                                </div>

                                <div class="fv-row mb-8" data-kt-password-meter="true">
                                    <div class="mb-1">
                                        <div class="position-relative mb-3">
                                            
                                         {{ form.new_password1 }}
                                            <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                                <i class="ki-outline ki-eye-slash fs-2"></i>
                                                <i class="ki-outline ki-eye fs-2 d-none"></i>
                                            </span>
                                        </div>
                                        {% if form.new_password1 %}
                                            {% for error in form.new_password1.errors %}
                                                <div class="alert alert-danger">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                                            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                                            <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
                                        </div>
                                    </div>
                                    <div class="text-muted">Използвайте 8 или повече знака с комбинация от букви, цифри и символи.За много силна парола</div>
                                </div>

                                <div class="position-relative mb-3">
                                            
                                         {{ form.new_password2 }}
                                            <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                                                <i class="ki-outline ki-eye-slash fs-2"></i>
                                                <i class="ki-outline ki-eye fs-2 d-none"></i>
                                            </span>
                                        </div>
                            {% if form.new_password2.errors %}
                                            {% for error in form.new_password2.errors %}
                                                <div class="alert alert-danger">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}

                                <div class="d-grid mb-10">
                                    <button type="submit" id="kt_new_password_submit" class="btn btn-primary">
                                        <span class="indicator-label">Смени</span>
                                        <span class="indicator-progress">Валидиране...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                    </button>
                                </div>

                            </form>
                           {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} d-flex align-items-center p-5" role="alert">
                                    <!--begin::Icon-->
                                    <i class="ki-duotone ki-shield-tick fs-2hx text-{{ message.tags }} me-4">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                    <!--end::Icon-->
            
                                    <div class="d-flex flex-column">
                                        <h4 class="mb-1 text-{{ message.tags }}">Съобщение</h4>
                                        <span>{{ message }}</span>
                                    </div>
                                </div>
                            {% endfor %}
							<!--end::Form-->
						</div>
						<!--end::Wrapper-->
					</div>
                <!--begin::Custom Javascript(used for this page only)-->
                <script src="{% static 'js/authentication/reset_password/new-password.js' %}"></script>
					<!--end::Form-->
					{% endblock %}